AUTH_EMAIL=your_email@example.com
PASSWORD_EMAIL=your_password

SECOND_AUTH_EMAIL=second_email@example.com
SECOND_PASSWORD_EMAIL=second_password
SECOND_AUTH_PIN=123456

TESTING_AUTH_EMAIL=namespace.autotest_account_qa@@inbox.testmail.app
TESTING_PASSWORD_EMAIL=testing_password
TESTING_AUTH_PIN=123456

TESTMAIL_NAMESPACE=your_namespace
TESTMAIL_API_KEY=your_testmail_api_key
TESTMAIL_URL=https://api.testmail.app/api/json?apikey=your_testmail_api_key&namespace=your_namespace&pretty=true

TESTING_DEV_AUTH_EMAIL=namespace.static_account_qa_2@inbox.testmail.app
TESTING_DEV_PASSWORD_EMAIL=testing_dev_password
TESTING_DEV_AUTH_PIN=123456
